<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3 th:text="#{edit.title}"></h3>
<p>
    <a th:href="@{/}" th:text="#{customer.a}">
    </a>
</p>
<div id="form">
    <form th:action="@{/edit-customer}" th:object="${customer}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td th:text="#{cus.firstName}"></td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td th:text="#{cus.lastName}"></td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td th:text="#{cus.province}"></td>
                <td>
                    <select name="province">
                        <option th:each="p: ${provinces}"
                                th:value="${p.id}"
                                th:text="${p.name}"
                                th:selected="(${p.id} == *{province.id})">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" th:value="#{edit.save}"></td>
            </tr>
        </table>
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
